/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/
body{
  background-color: black;
}

/**
  Main container: .flex-container
  The first box for further nested flex boxes.

*/
.flex-container {
  display: flex;
}

/**
  1st level deep flex container: .banner
  Contains the banner section of the site.

*/
.banner {
  display: flex;
  justify-content: space-between;
}

.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sketchDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner {
  font-size: 32px;
  color: white;
  font-family: 'Fredericka the Great', cursive;
}

.gameMenu button{
  margin-left: 45%;
  font-family: 'Forum', cursive;
}

.sketchDiv{
  margin: auto;
  padding: 10px;
}